.hidden {
  display: none !important;
}

.header-container {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.no-wrap-center {
  flex-wrap: nowrap;
  align-items: center;
}

.column-half {
  width: 50%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

/* @media screen and (min-width: 768px) {
  .container,
  .head-container,
  .container-new-entry,
  .container-entries {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
} */
