header {
  background-color: #cbc0d3;
}

body {
  background-color: #8e9aaf;
}

label,
input,
select,
option {
  display: block;
}

label {
  color: white;
  font-size: 24px;
}

input,
select {
  width: 100%;
  padding: 0.3rem;
}

.trivia-header {
  color: white;
  font-size: 32px;
}

.abacus {
  height: 50%;
  width: 10%;
}

.abacus-div {
  margin-left: 0.5rem;
}

.center {
  justify-content: center;
}

.game-h1 {
  text-decoration: underline;
  color: white;
  font-size: 38px;
}

.margin-divs {
  padding: 0.5rem 1rem;
}

.play-trivia {
  background-color: #cbc0d3;
  color: white;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem 4rem;
  font-size: 32px;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.submit {
  background-color: #cbc0d3;
  color: white;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem 6rem;
  font-size: 32px;
  margin-top: 6rem;
}

.margin-top-head {
  margin-top: 2rem;
}

.margin-top-divs {
  margin-top: 3rem;
}

.header-margin-left {
  margin-left: 1rem;
}

.question {
  color: white;
  font-size: 34px;
  text-align: center;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .container,
  .header-container {
    max-width: 900px;
  }

  .play-trivia {
    margin-top: 9rem;
  }

  .margin-top-divs {
    margin-top: 6rem;
  }

  .column-half {
    width: 50%;
  }
}

.choice {
  margin: 1rem;
  background-color: white;
  padding: 1rem;
  font-size: 24px;
  text-align: center;
  border-radius: 0.3rem;
}

.border-highlight {
  border: solid 0.3rem #cbc0d3;
}

.green {
  background-color: #95d5b2;
}

.red {
  background-color: #f4acb7;
}
