header {
  background-color: #cbc0d3;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
}

body {
  background-color: #8e9aaf;
  font-family: Cabin, sans-serif;
  font-size: 16px;
}

label,
input,
select,
option {
  font-family: Cabin, sans-serif;
  font-size: 16px;
}

label {
  color: white;
  font-size: 24px;
}

input,
select {
  width: 100%;
  padding: 0.3rem;
}

.trivia-header {
  color: white;
  font-size: 32px;
}

.abacus {
  height: 50%;
  width: 10%;
}

.abacus-div {
  margin-left: 0.5rem;
}

.center {
  justify-content: center;
}

.game-h1 {
  text-decoration: underline;
  color: white;
  font-size: 38px;
}

.margin-divs {
  padding: 0.5rem 1rem;
}

.play-trivia {
  background-color: #cbc0d3;
  color: white;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem 4rem;
  font-size: 32px;
  margin-top: 5rem;
}

.submit {
  background-color: #cbc0d3;
  color: white;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem 6rem;
  font-size: 32px;
}

input,
.submit,
.play-trivia,
.setup-button,
select:hover {
  cursor: pointer;
}

.margin-top-head {
  margin-top: 1rem;
}

.margin-top-submit {
  margin-top: 1rem;
}

.header-margin-left {
  margin-left: 1rem;
}

.question {
  color: white;
  font-size: 34px;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .container,
  .header-container {
    max-width: 900px;
  }

  .play-trivia {
    margin-top: 7rem;
  }

  .margin-top-divs {
    margin-top: 6rem;
  }

  .column-half {
    width: 50%;
  }

  .question {
    margin-top: 4rem;
  }

  .choice {
    margin-top: 1rem;
  }

  .margin-top-submit {
    margin-top: 1rem;
  }
}

.choice {
  margin: 0.5rem;
  background-color: white;
  padding: 0.8rem;
  font-size: 24px;
  text-align: center;
  border-radius: 0.3rem;
  border: solid 0.3rem white;
}

.border-highlight {
  border: solid 0.3rem #cbc0d3;
}

.green {
  background-color: #95d5b2;
  border: solid 0.3rem #95d5b2;
}

.red {
  background-color: #f4acb7;
  border: solid 0.3rem #f4acb7;
}

.score {
  width: 100%;
  margin-left: 1rem;
  color: white;
  font-size: 22px;
}

.total-score {
  width: 100%;
  margin-top: 2rem;
  color: white;
  font-size: 18px;
}

.trivia-complete-p {
  color: white;
  font-size: 38px;
}

.great-job-p {
  color: white;
  font-size: 36px;
}

.p-div {
  width: 100%;
  text-align: center;
}

.player-score {
  color: white;
  font-size: 36px;
}

.setup-button {
  background-color: #cbc0d3;
  color: white;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem 4rem;
  font-size: 32px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
